<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie obrazu</title>
</head>
<body>
<img th:each="imageId: ${imageIds}" th:src="${'/image-th/' + imageId + '/data'}">
</body>
</html>
