<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wszystkie koty</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Imię</th>
        <th>Kolor</th>
        <th>Wiek</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cat: ${cats}">
        <td th:text="${cat.name}"></td>
        <td th:text="${cat.color}"></td>
        <td th:text="${cat.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
