<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodano samochód</title>
</head>
<body>
Dodano samochód o marce: <span th:text="${car.make}"></span> i modelu: <span th:text="${car.model}"></span>
</body>
</html>
